# Typescript Output
./coin-selection/dist
./dolphin-api/dist
./e2e/dist
./signer-interface/dist
./workflows/dist
*/tsconfig.tsbuildinfo

# Node Modules
node_modules
**/node_modules


e2e/*store.json
e2e/simulation/out.json

.DS_Store
