.button.ui.first {
  background-color: #54AEDE;
  color:#FFFFFF;
  border-radius: 15px;
}

.button.ui.two {
  background-color: #FFFFFF;
  color:black;
  border-radius: 15px;
}

.secondary-anchor {
  color:black
}

.textarea.ui.scaled {
  width:300px;
  height:180px;
  text-align: center;
}
