.App {
    left: 50%;
    position: absolute;
    top: 40%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
}

.password-input {
    max-width: 66%;
}

.page {
    justify-content: space-between;
    max-width: 500px;
    min-height: 60%;
    text-align: center;
}

.button {
    margin: 1rem !important;
}

.authorize-summary {
    inline-size: 26rem;
    margin: 0 auto;
    max-width: 22.5rem !important;
    overflow-wrap: break-word;
    text-align: center;
}

.recovery-phrase-info {
    min-width: 23rem;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.recovery-phrase-info>p {
    margin: 0;
    color: #FFBC2C;
}

.recovery-phrase-warning {
    margin: 1rem;
    min-width: 26rem;
    text-align: center;
}

.recovery-phrase {
    background-color: lightblue;
    border-radius: 0.5rem;
    border: 1px solid white;
    margin: 1.75rem;
    min-width: 10rem;
    padding: 0.5rem;
    text-align: center;
}

.recovery-phrase::selection {
    color: white;
    background-color: darkblue;
}

.recovery-phrase-header {
    margin-bottom: 0.5rem !important;
}

.input.ui.password {
    border-radius: 5px;
    height: 40px;
    width: 65%;
    margin: 0.5rem;
}

.input.ui.password.tall {
    border-radius: 5px;
    height: 40px;
    width: 65%;
    margin: 0.5rem;
    margin-top:2rem;
}

.button.ui.first {
    background-color: #0894ec;
    color:#FFFFFF;
    border-radius: 5px;
    height: 40px;
    width: 65%;
}
 
.button.ui.first.wide {
    background-color: #0894ec;
    color:#FFFFFF;
    border-radius: 5px;
    height: 40px;
    width: 80%;
}

.button.ui.two {
    background-color: #FFFFFF;
    color:black;
    border-radius: 15px;
}
  
.button.ui.danger {
    background-color: red;
    color:white;
    border-radius: 15px;
}
  
.secondary-anchor {
    color:black
}
  
.textarea.ui.scaled {
    width:300px;
    height:180px;
    text-align: center;
}
  
.mainlogo {
    width:19vw;
    height:17vh;
}
  
.mainheadline {
    font-weight: 900;
}
  
.subtext {
    color:gray;
    margin-top:-10px;
}

.mainlogocontainer {
    padding-bottom: 30px;
    padding-top: 45px;
}

.mainlogocontainer.login {
    padding-top: 80px;
}

.firstbuttoncontainer {
    padding-top: 2rem;
}

.headercontainer {
    padding-top: 6rem;
}

.tightHeaderContainer {
    margin:1rem;
    padding-top: 5rem;
}

.recoveryPhraseContainer {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color:#eef0f2;
    border-radius: 5px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    margin-left:3.2rem;
    margin-right:3.2rem;
}

.recoveryPhraseWord {
    flex-basis:20%;
}

.recoveryPhraseWord {
    margin:0.2rem;
}

.wordListContainer {
    border-radius: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    border-color: #eef0f2;
    height:9rem;
    margin-left:1rem;
    margin-right:1rem;
    border-style: solid;
    overflow-y: scroll;
}

.buttonListContainer {
    border-radius: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    height:7rem;
    overflow-y: scroll;
    margin:1rem;
}

.button.ui.buttonlist {
    flex-basis:10%;
    margin:0.2rem !important;
    background-color: #FFFFFF;
    border: 2px solid #eef0f2;
    border-radius: 5px;
    color:gray;
    max-height: 3rem;
}

.mediumSubText {
    color: gray;
}

.headercontainerFat {
    margin: 4rem;
}