.App {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
}

.password-input {
    max-width: 66%;
}

.page {
    justify-content: space-between;
    max-width: 500px;
    min-height: 60%;
    text-align: center;
}

.button {
    margin: 1rem !important;
}

.authorize-summary {
    inline-size: 26rem;
    margin: 0 auto;
    max-width: 22.5rem !important;
    overflow-wrap: break-word;
    text-align: center;
}

.recovery-phrase-info {
    min-width: 26rem;
    text-align: center;
}

.recovery-phrase-info>p {
    margin: 0;
}

.recovery-phrase-warning {
    margin: 1rem;
    min-width: 26rem;
    text-align: center;
}

.recovery-phrase {
    background-color: lightblue;
    border-radius: 0.5rem;
    border: 1px solid white;
    margin: 1.75rem;
    min-width: 10rem;
    padding: 0.5rem;
    text-align: center;
}

.recovery-phrase::selection {
    color: white;
    background-color: darkblue;
}

.recovery-phrase-header {
    margin-bottom: 0.5rem !important;
}