body {
    margin: 0;
    font-family: 'IBM Plex Sans' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'IBM Plex Mono' !important;
}

.ui {
    font-family: 'IBM Plex Sans' !important;
}
