@font-face {
    font-family: 'UbuntuMono';
    src: url('./fonts/UbuntuMono-Regular.ttf') format('truetype'), url('./fonts/UbuntuMono-Bold.ttf') format('truetype'), url('./fonts/UbuntuMono-Italic.ttf') format('truetype'), url('./fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'UbuntuMono' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'UbuntuMono' !important;
}

.ui {
    font-family: 'UbuntuMono' !important;
}