#app {
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}


/* Override element default styling to keep forms compact */

.el-form-item {
    margin-bottom: 0px !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.main-container-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    min-height: 0;
    width: 100%;
}

.page-container {
    padding: 20px;
    flex: 0 0 auto;
    margin-right: auto;
    margin-left: auto;
    width: 408px;
    z-index: 25;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    overflow-y: auto;
}

.page-container__title {
    font-size: 1.25rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-weight: 500;
}

.page-container__content {
    overflow-y: auto;
    flex: 1;
}

.reveal-recoveryPhrase__label {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    display: inline-block;
}

.recovery-phrase-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.recovery-phrase-container__text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    border-radius: 4px;
    background: #fafafa;
}

.recovery-phrase-container__text {
    font-size: 1.125rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    resize: none;
    border: none;
    background: #fafafa;
    text-align: center;
}

.recovery-phrase-container__buttons-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dedede;
    width: 100%;
}

.recovery-phrase-container__button {
    font-size: 0.75rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
    margin-top: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-container-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    min-height: 0;
    width: 100%;
}

.first-view-main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0 10px;
}

.first-view-main-wrapper>.first-view-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.import-account {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: initial;
}


/* !important to override element default button styles */

.main-button {
    background-color: #1b344d !important;
    border-color: #1b344d !important;
    margin-top: 1rem !important;
}

.approve-button {
    color: white !important;
    background-color: green !important;
    border-color: green !important;
    margin-top: 0.5rem !important;
}

.decline-button {
    color: white !important;
    background-color: red !important;
    border-color: red !important;
    margin-top: 0.5rem !important;
}

.back-button {
    margin-right: 15rem;
    line-height: 140%;
    color: #22232c;
}

.wrap-text {
    inline-size: 21rem !important;
    overflow-wrap: break-word !important;
}